<footer>
    <div>
        <a class="logo-foot" href="/" style="color:#fff"> VGames <i class="fas fa-dice-d20"></i> Library</a>
    </div>
    <div class="box">
        <ul>
            <li><a href="/panier">Panier</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/profil">Profil</a></li>
            <li><a href="/deconnexion">Deconnexion</a></li>
        </ul>
    </div>
    <div class="right-block">
        <div class="reseaux">
                <h5>Nos reseaux</h5>
                <ul class="icons">
                    <li><i class="fab fa-instagram"></i></li>
                    <li><i class="fab fa-facebook"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                </ul>
            </div>
            <div class="copyright">
                <p>Copyright by J, Projet NodeJs/Handlerbars</p>
            </div>
    </div >
    
</footer>