
    <nav class="navbar navbar-expand-lg" style="background-color:#272727; height:10vh">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="color:#fff">VGames Library</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Se connecter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">S'inscrire</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/jeu/ajout">Administrateur</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Notre support</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Mon compte</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
