<div class="container">
    <div>
        <h1>panier</h1>
        
        <div class="panier-global">
{{#each transfert}}
            <div class="miniature">
                <img src="{{image}}" alt="">
            </div>
            <div class="infos">
                <div>
                    {{nom}}
                </div>
                <div>
                    {{prix}}
                </div>

            </div>{{/each}}
        </div>
        
    </div>
</div>