<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5" style="text-align:center">
            <h2>Résumé du panier</h2>
        </div>

    </div>
    <div class="panier-content">
        <div class="selection">

        </div>
        
        

    </div>
</div>