*{

    margin: 0;
    padding: 0;
    font-family: 'Changa', sans-serif;
    
}

body{

    background-color: rgb(255, 177, 81);

}

/* navbar */

.nav-link {

    color:#fff;

}

.navbar-nav{
    margin-left: 1000px;
}

.nav-item{
    
    padding: 0 20px
}

.nav-link:hover{

    color: red;

}

.bold{
    
    color: red;
}

/* homepage */

.titre-homepage{
    
    text-align: center;

}


.card-img-top{

    height: 400px;

}


.list-card{
    font-size: 15px;
}
/* inscription */

.password-register{

    margin-right: 325px

}

.cgu {
    display: flex;
    justify-content: center;
}

/* connexion */

.row{

    display: flex;
    justify-content: center;

}

.oublie {

    display: flex;
    justify-content: center;

}

.link-connexion{

    margin:0 10px;
}

.boutons{

    margin-top: 40px;
    display: flex;
    justify-content: center;

}

/* footer */

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
    text-align: center;
    background-color: #272727;
    color: #fff;
}

.box{
    border-left: 1px solid #fff;
}

.logo-foot{
    font-size:40px;
    width: 350px;
    text-decoration: none;
}

footer ul li {
    list-style-type: none;
    padding: 10px 0 ;
    font-size: 20px;
}
footer ul li a {
    text-decoration: none;
    color: #fff;
    
}

footer ul li a:hover{

    color: red;

}


.right-block{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 100px;
}

.reseaux h5 {
    padding: 10px 0;
    border-bottom: 1px solid #fff;
}

.fab{
    font-size: 25px;
    margin-right: 10px;
}

